*{
font-size:106%;
font-family:Comic Sans MS;
}

.nav{
background-color:black;
}

body{
background-color:#eff5f5;
}

.nav a{
color:white;
padding:5%;
text-decoration:none;
}

.nav a:hover{
color:yellow;
}

input[type="number"],
input[type="text"]{
margin-left:5%;
margin-right:10%;
width:80%;
}

fieldset{
margin-left:5%;
width:80%;
}

select{
margin-left:5%;
width:80%;
}

input[type="submit"]{
background-color:green;
align:center;
border-radius:3%;
border:none;
color:white;
cursor:pointer;
}

.del{
background-color:red;
align:center;
border-radius:5%;
border:none;
color:white;
cursor:pointer;
}

